.content-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    .fundo-inicial {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .login-page {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        width: 100%;
        .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                font-family: 'Courier New', Courier, monospace;
                font-size: 2em;
                margin-bottom: 20px;
                color: #333;
            }
            input {
                font-family: 'Courier New', Courier, monospace;
                width: 100%;
                padding: 10px;
                margin: 10px 0;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }
            button {
                width: 100%;
                padding: 10px;
                background-color: #333;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
                margin-top: 10px;
                font-family: 'Courier New', Courier, monospace;
                &:hover {
                    background-color: #666;
                }
            }
            .create-login {
                font-family: 'Courier New', Courier, monospace;
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                a {
                    color: #333;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
