.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #333; 
    color: #fff; 

    .header-link {
        text-decoration: none;
        color: inherit; 
    }

    .header-title {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        margin: 0; 
    }

    .login-button {
        background-color: #fff; 
        color: #333; 
        border: 1px solid #fff; 
        border-radius: 20px;
        padding: 16px 30px; 
        cursor: pointer;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 24px;
        font-weight: 800;

        &:hover {
            background-color: #ccc; 
        }
    }
}
