.section-adm {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;

    h1 {
        color: #333;
        font-size: 70px;
        margin: 0;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 320px;
        padding: 15px;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        border: 0px;
        border-radius: 15px;
        color: #fff;
        margin-top: 20px;
        background-color: #333;
        transition: background-color 0.3 ease;

        &:hover {
            background-color: hsla(0, 0%, 24%, 0.4);
        }

        &:active {
            background-color: hsla(0, 0%, 24%, 0.4);
        }
    }
}

.underline2 {
    display: flex;
    text-decoration: none;
    width: 100%;
    max-width: 320px;
}